/* @media (max-width: 376px) { */
@media (max-width: 450px) {
    .full_content {
        /* background-color: #f00; */
    }

    .header {
        display: none;
    }

    .mmt16 {
        margin-top: 16px;
    }

    .mmt8 {
        margin-top: 8px !important;
    }

    .mmt32 {
        margin-top: 32px;
    }

    .mmt24 {
        margin-top: 24px;
    }

    .mfs16 {
        font-size: 16px;
    }

    .mfs14 {
        font-size: 14px;
    }

    .mfs12 {
        font-size: 12px;
    }

    .ms2020 {
        width: 20px;
        height: 20px;
    }

    .ms1120 {
        width: 11px;
        height: 20px;
    }

    .have_an_account span {
        font-weight: 300;
        font-size: 13px;
    }

    .have_an_account a {
        font-size: 14px;
    }

    .mobile_header_container {
        width: 100%;
        padding: 12px 15px;
        background-color: #FFF;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 9999;
        /* background-color: red; */
        /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    }

    /* .mobile_header_container::sc */
    .mobile_header_container .sell_icon {
        width: 95px;
        height: 24px;
    }

    .mobile_header_container .sell_icon img {
        width: 100%;
        height: 100%;
    }

    .mobile_header_container .sm_icon {
        display: flex;

    }

    .mobile_header_container .sm_icon img {
        width: 24px;
        height: 24px;

    }

    .mobile_header_container .sm_icon div {
        position: relative;
        margin-left: 10px;
    }

    .mobile_header_container .sm_icon div label {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #CC0000;
        color: #FFF;
        font-size: 12px;
        top: 0;
        right: -3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero_main {
        margin-top: 50px;
        padding: 0px 15px;
        /* width: 375px !important; */
        width: 100vw !important;
        background-color: #FFF;
    }

    .hero_carousel {
        width: fit-content !important;
        height: 129px;
    }

    .hero_carousel img {
        width: calc(100vw - 30px) !important;
        height: 129px;
    }

    .hero_main .owl-theme .owl-dots {
        bottom: 0px;
        display: flex;
    }

    .hero_main .owl-theme .owl-dot {
        padding: 0px !important;
        margin: 0px !important;
        margin-right: -8px !important;
    }


    .hero_main .owl-theme .owl-dots .owl-dot.active span {
        width: 20px !important;
        height: 6px;
    }

    .hero_main .owl-theme .owl-dots .owl-dot span {
        width: 6px;
        height: 6px;
    }

    .mobile_footer_container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 76px;
        background-color: #FFF;
        position: fixed;
        bottom: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: -1px -1px 8px 0px rgba(0, 0, 0, 0.1);
    }

    .mobile_footer_container .item {
        width: fit-content;
        margin-top: 11px;
        text-align: center;
    }

    .mobile_footer_container .item img {
        width: 24px;
        height: 24px;
        border-radius: 5px;
    }

    .mobile_footer_container .item div {
        text-align: center;
        font-size: 10px;
        color: #66776C;
        margin-top: 5px;
    }

    .footer {
        display: none;
    }

    .home_all_products .products {
        grid-template-columns: auto auto;
    }

    .home_all_products .products .product_cart {
        width: auto;
        /* width: 163px; */
        /* width: calc(100vw - 215px); */
        height: auto;
    }

    .product_cart .product_img {
        width: 100% !important;
        height: 52px !important;
        text-align: center;
    }

    .product_cart .product_img img {
        width: 64px;
        height: 64px;
    }

    .product_cart .product_img span {
        display: block;
        /* width: 64px; */
        height: 64px;
        /* background-color: #f5f5f5; */
    }

    .product_cart .product_name span {
        display: block;
        /* width: 64px; */
        height: 12px;
        /* background-color: #f5f5f5; */
    }

    .product_cart .del_price span {
        display: block;
        /* width: 64px; */
        height: 12px;
        /* background-color: #f5f5f5; */
    }

    .product_cart .product_price span {
        display: block;
        /* width: 64px; */
        height: 12px;
        /* background-color: #f5f5f5; */
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #foo {
        background-color: #ddd;
        -webkit-animation: fadein 2s ease-in alternate infinite;
        -moz-animation: fadein 2s ease-in alternate infinite;
        animation: fadein 2s ease-in alternate infinite;
    }

    .w-1176 {
        width: auto;
    }

    .home_all_products .products {
        row-gap: 10px;
        column-gap: 10px;
        margin-top: 10px;
    }

    .home_all_products .product_cart .product_img {
        width: 131px !important;
        height: 131px !important;
    }

    .home_all_products .product_cart .product_img img {
        width: 100%;
        height: 100%;
    }

    .home_products {
        margin-top: 6px;
        /* margin-left: 15px;
        margin-right: 15px; */
        padding: 8px 15px;
        border-radius: 0px;
    }

    .home_all_products .product_cart:last-child {
        display: none !important;
    }

    .all_product_card_last {
        display: none;
    }

    .m_all_view {
        display: block;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, .2);
        color: #000;
        margin: 20px 0px;
        padding: 10px 0px;
        border-radius: 5px;
    }


    .m_view_bg_fix {
        display: block;
        background-color: #FAFAFA;
        height: 80px;

    }

    ::-webkit-scrollbar {
        display: none;
    }

    .home_products .title {
        font-size: 16px;
    }

    .home_products .arrow {
        display: none;
    }

    .home_products .products {
        overflow-x: scroll;
    }

    .home_products .products .product_cart {
        /* width: fit-content; */
        width: 110px;
        height: auto;
        padding: 10px;
    }

    .home_all_products {
        padding: 8px 15px;
        /* margin-left: 15px;
        margin-right: 15px; */
        border-radius: 0px;
        margin-top: 6px;
    }

    .product_cart .product_name {
        width: 90px;
        height: 30px;
        font-size: 11px;
        font-weight: 500;
        line-height: 14px;
        /* padding: 0px 5px; */
    }

    .home_all_products .product_cart .product_name {
        width: unset;
        height: 32px;
        font-size: 12px;
        line-height: 15px;
    }

    .home_all_products .title {
        font-size: 16px;
    }

    .product_cart .del_price {
        font-size: 12px;
        margin-top: 10px;
    }

    .product_cart .product_price {
        font-size: 14px;
        margin-top: 5px;
        margin-top: 3px;
    }

    .home_products .shops .product_cart {
        height: auto;
        width: 77px;
        padding: 5px 12px;
        margin-right: 14px !important;
    }

    .shops .product_cart .product_img {
        width: 46px !important;
        height: 43px !important;
    }

    .shops .product_cart .product_img img {
        width: 46px !important;
        height: 43px !important;
    }

    .shops .product_cart .product_name {
        width: 100%;
        height: 23px;
        font-size: 10px;
        text-align: center;
        line-height: 12px;
    }

    .details_page .main {
        display: block;
    }

    .details_page {
        margin-top: 53px;
        padding: 0px;
        border-radius: 0px;
    }

    .details_page .main .left {
        display: none;
    }

    .details_hero {
        display: block;
    }

    .details_hero .hero_main {
        margin: auto;
        /* background-color: #CC0000; */
        width: 254px !important;
        height: 254px !important;
        padding: 0px !important;
    }

    .details_hero .hero_main .hero_carousel {
        width: 100% !important;
        height: 100% !important;
        margin: 0px;
        padding: 0px;
    }

    .details_hero .owl-carousel .owl-item img {
        width: 100% !important;
        height: 100% !important;
        margin-top: 10px;
        border-radius: 0px;
    }

    .details_top {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px;
        position: fixed;
        top: 0;
        width: calc(100vw - 0px);
        padding: 10px 15px;
        background-color: #FFF;
        z-index: 999;
    }

    .details_top .l_arrow {
        display: flex;
        align-items: center;
    }

    .details_top .share2 {
        width: 28px;
        height: 28px;
        border-radius: 10px;
        background-color: #F3F3F3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .details_page .main .right .title_section {
        margin-top: 24px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .details_page .main .right .title_section .txt {
        font-weight: 400;
        font-size: 19px;
        margin-right: 0px;
    }

    .details_page .main .right .title_section .share {
        display: none;
    }

    .details_page .main .right .brand {
        margin-top: 16px;
        font-weight: 600;
        font-size: 14px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .details_page .main .right .sold_by {
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .details_page .main .right .sold_by span {
        font-weight: 700;
        font-size: 14px;
    }

    .details_page .main .right .sold_by a {
        font-size: 14px;
        padding: 3px 6px;
        font-size: 10px;
    }

    .details_page .price_hide_pn {
        display: none;
    }

    .details_page .mobile_price {
        display: block;
        display: flex;
        justify-content: space-between;
        margin: 20px 15px;
    }

    .details_page .main .del_price {
        margin-top: 0px;
        font-weight: 400;
        font-size: 14px;
    }

    .details_page .main .product_price {
        font-size: 20px;
        font-weight: 700;
        margin-top: 5px;
    }

    .details_page .quantity_button .btn {
        width: 32px;
        height: 32px;
    }

    .details_page .mobile_color .txt_cq {
        margin-top: 5px;
        margin-left: 15px;
    }

    .details_page .mobile_colors {
        margin-left: 15px;
        margin-right: 15px;
        overflow-y: scroll;
    }

    .details_page .mobile_color .colors {
        /* margin-left: 15px;
        margin-right: 15px;
        overflow-y: scroll; */
    }

    .details_page .short_details h2 {
        font-size: 20px;
    }

    .details_page .short_details .txt {
        margin-top: 12px;
        font-size: 13px;
    }

    .details_page .colors a {
        font-size: 12px;
        padding: 5px 10px;
        margin-right: 5px;
        text-align: center;
    }

    .m_quantity {
        display: none;
    }

    .details_page .btn_buy {
        display: none;
    }

    .details_page .mobile_buy {
        display: flex;
        height: 44px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9999;
    }

    .details_page .mobile_buy .cart {
        width: 25%;
        margin-right: 10px;
        border-radius: 5px;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .details_page .mobile_buy .cart {
        color: #FFF;
    }

    .details_page .mobile_buy .cart img {
        width: 24px;
        height: 24px;
    }

    .details_page .mobile_buy .buy {
        width: 65%;
        border-radius: 5px;
        background-color: #FF2C7A;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .details_page .have_question {
        margin-left: 15px;
    }

    .details_page .call {
        margin-left: 15px;
    }

    .details_page .short_details .txt {
        overflow-x: scroll;
    }

    .video_container {
        grid-template-columns: auto;
    }

    .video_item {
        width: calc(100vw - 40px);
        height: calc(100vw - 40px);
    }

    .details_page .full_details {
        margin-left: 15px;
        margin-right: 15px;
        padding: 0px;
        margin-top: 15px;
    }

    .details_page .full_details h2 {
        font-size: 23px;
    }

    .details_page .full_details .txt {
        margin-top: 15px;
    }

    .details_page .full_details ul {
        margin-left: 15px;
    }

    .details_page .full_details img {
        width: calc(100vw - 30px) !important;
        margin-bottom: 10px;
    }

    .mobile_menu_container {
        display: flex;
        justify-content: space-between;
        /* margin-top: 20px; */
        /* margin-left: 15px;
        margin-right: 15px; */
        /* border-radius: 10px; */
        background: #FFF;
        padding: 10px 15px;
        padding-top: 15px;
    }

    .mobile_menu_container .item {
        text-align: center;
    }

    .mobile_menu_container img {
        width: 50px;
        height: 50px;
        /* border-radius: 50%; */
    }

    .mobile_menu_container .item div {
        margin-top: 5px;
        font-size: 12px;
        color: #334A3B;
        text-align: center;
    }

    .mobile_cart {
        position: relative;
    }

    .mobile_cart span {
        position: absolute;
        right: 0;
        top: -10px;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #CC0000;
        font-size: 10px;
        border-radius: 50%;
        color: #FFF;
    }

    .details_page .short_details {
        border-radius: 15px;
        margin-top: 15px;
        padding: 15px;
    }

    /* //login sign up page */
    .sign_up_container {
        padding-top: 8px;
        margin-bottom: 0px;
        margin-top: 28px;
    }

    .sign_up_container .details_top {
        padding-bottom: 10px;
    }

    .sign_up {
        border-radius: 0px !important;
        background-color: #FFF;
        padding: 14px 15px;
        margin-top: 4px;
        margin-bottom: 40px;
        width: unset;
    }

    .sign_up .social_media .google {
        width: -webkit-fill-available;
        margin-right: 10px;
    }

    .sign_up .forgot_pass {
        font-size: 12px;
        font-weight: 400;
    }

    .sign_up_btn {
        height: 48px;
    }

    .sign_up input {
        height: 48px;
    }

    .sign_up .social_media .google {
        height: 48px;
    }

    .sign_up .social_media .facebook1 {
        height: 48px;
    }

    /* //cart */
    .cart_page {
        display: grid;
        grid-template-columns: auto;
        column-gap: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .cart_top {
        display: none;
    }

    .mobile_cart_top {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        position: fixed;
        width: calc(100vw - 0px);
        top: 0;
        background-color: #FFF;
    }

    .mobile_cart_top a img {
        width: 24px;
        height: 24px;
    }

    .cart_products {
        padding: 0px 0px;
        /* background: red; */
        margin-top: 61px;
        border-radius: 0px;
        /* margin: 0px; */
        /* margin-left: 15px;
        margin-right: 15px; */
    }

    .cart_item {
        display: grid;
        grid-template-columns: 20px 62px auto;
        column-gap: 10px;
        margin-bottom: 11spx;
    }

    .cart_img img {
        width: 60px;
        height: 60px;
        border-radius: 0px;
    }

    .cart_title {
        font-size: 12px;
        height: 13px;
        overflow: hidden;
        line-height: 12px;
        width: 170px;
    }

    .cart_taka_1 {
        font-size: 10px;
    }

    .cart_taka_2 {
        font-size: 14px;
        margin-top: 2px;
    }

    .cart_page .quantity_button .btn {
        width: 18px;
        height: 18px;
        border-radius: 2px;
        font-size: 9px;
    }

    .cart_check input {
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }

    .cart_amount {
        margin-top: 3px;
    }

    .order_summery {
        font-size: 16px;
    }

    .cart_subtotal {
        margin-top: 10px;
    }

    .cart_subtotal span {
        font-size: 14px;
    }

    .cart_total {
        margin-top: 15px;
    }

    .cart_total span {
        font-size: 16px;
    }

    .cart_summery {
        margin-top: 10px;
        padding: 10px 15px;
        border-radius: 0px;
    }

    .checkout_page {
        margin-top: 40px;
        padding-top: 10px;
        /* margin-left: 15px;
        margin-right: 15px; */
    }

    .checkout_page .cart_products {
        margin: 0px;
        /* width: calc(100vw - 30px); */
        padding: 1px 15px;
        border-radius: 0px;
    }

    .checkout_address_section {
        padding: 10px 15px;
        border-radius: 0px;
        /* width: calc(100vw - 27px); */
    }

    .content {
        margin-top: 0px;
    }

    .cart_bottom {
        margin-top: 10px;
        padding: 10px 15px;
        /* width: calc(100vw - 30px); */
    }

    .checkout_page .cart_item {
        grid-template-columns: 79px auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .checkout_page .cart_item:last-child {
        border-bottom: none;
    }

    .checkout_page .cart_item .cart_right {
        width: auto;
    }

    .checkout_page .cart_title {
        width: 166px !important;
        line-height: 13px;
        height: 15px;

    }

    .cart_taka_3 span:last-child {
        font-size: 11px;
    }

    .checkout_page .taka_q {
        font-size: 14px;
    }

    .checkout_page .taka_r {
        font-size: 16px;
    }

    .checkout_page .cart_taka_3 {
        margin-top: 5px;
    }

    .promo_code input {
        width: 100%;
        height: 35px;
    }

    .promo_code a {
        height: 35px;
        border-radius: 5px;
    }

    .checkout_page .cart_summery {
        padding: 5px 15px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 6px;
        margin-bottom: 20px;
        border-radius: 0px;
    }

    .cart_checkout {
        font-size: 16px;
        border-radius: 5px;
        height: 35px;
        margin-top: 20px;
    }

    .payment_page {
        /* margin-left: 15px;
        margin-right: 15px; */
        margin-top: 38px;
    }

    .mobile_payment .details_top {
        margin: 0;
        padding: 10px 10px;
        position: fixed;
        top: 0;
        width: calc(100vw - 0px);
        background-color: #FFF;
    }

    .payment_page .pay_title {
        margin: 8px 15px
    }

    .payment_page .payment_section {
        padding: 10px 15px;
        margin-top: 10px;
        border-radius: 0px;
    }

    .payment_page .pb_txt {
        font-size: 12px;
    }

    .payment_page .bank_icon img {
        width: 30px;
        height: 20px;
        margin-right: 10px;
    }

    .payment_page .saved_accounts {
        margin-top: 10px;
        border-radius: 0px;
    }

    .payment_page .cart_summery {
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 10px 15px;
        border-radius: 0px;
    }

    .saved_accounts .item {
        border-radius: 0px !important;
        padding: 10px 15px !important;
    }

    /* //user info page */
    .user_info {
        display: block;
        margin-top: 35px;
        /* margin-left: 15px;
        margin-right: 15px; */

    }

    .user_info .left {
        width: unset;
        padding: 5px 0px 5px 5px;
        display: flex;
        border-radius: 0px;
        justify-content: space-between;
    }

    .user_info .left .img {
        width: 70px;
        height: 70px;
        /* position: relative; */
    }

    .user_info .menu_container {
        margin-left: 5px;
        margin-top: 0px;
        display: flex;
        /* background: red; */
        margin-right: 56px;
        padding-bottom: 0px;
        align-items: center;
    }

    .user_info .menu_container .menu {
        display: grid;
        margin-top: 0px;
        margin-left: 12px;
        padding-bottom: 0px;
        text-align: center;
        /* background: purple; */
        position: relative;
        height: fit-content;
    }

    .user_info .menu_container .menu img {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .user_info .menu_container .menu p {
        color: #878787;
        font-size: 11px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
        margin-top: 28px;
    }

    .user_info .menu_container .menu:first-child p {
        color: #878787;
    }

    .user_info .logout {
        width: -moz-fit-content;
        cursor: pointer;
        position: absolute;
        right: 0px;
        left: auto;
        /* margin-top: 13px; */
        /* background: cyan; */
        height: 44px;
        padding-right: 5px;
        text-align: center;
        display: block;
        top: 19px;
    }

    .user_info .logout img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .user_info .logout p {
        color: #878787;
        font-weight: 500;
        font-size: 11px;
    }

    .user_info .user_txt {
        font-size: 18px;
    }

    .user_info .user_input {
        display: block;
        margin-top: 20px;
    }

    .user_info .right {
        width: unset;
        padding: 16px 15px;
        margin-top: 10px;
        border-radius: 0px;
    }

    .mt50 {
        margin-top: 0px;
    }

    .user_info .save_changes {
        margin-top: 30px;
        height: 40px;
        font-size: 16px;
    }

    .user_info .input_left {
        width: unset;
    }

    .user_info .input_right {
        width: unset;
    }

    .mmt24 {
        margin-top: 24px;
    }

    .muser_inf0 {
        position: fixed;
        top: 0;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #FFF;
        z-index: 999;
    }

    /* ///address info */
    .address_list_container {
        padding-top: 10px;
        margin-bottom: 10px;
        margin-top: 50px;
        /* margin-left: 15px;
        margin-right: 15px; */
    }

    .address_list {
        width: unset;
        padding-bottom: 200px;
    }

    .address_list .add {
        padding: 0px 15px;
    }

    .address_list .address_item {
        padding: 10px 15px;
        border-radius: 0px;
    }

    .address_list .address_item .title p {
        font-size: 18px;
    }

    .address_list .address_item .title a {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    .address_list .address_item .phone {
        font-size: 14px;
    }

    .address_list .add p {
        font-size: 17px;
    }

    .address_list .add a {
        width: 101px;
        height: 30px;
        font-size: 12px;
    }

    .madd_address .user_info {
        margin-top: 30px !important;
    }

    .madd_address .user_info .user_txt {
        font-size: 18px;
    }

    .order_list_container {
        padding-top: 10px;
        margin-bottom: 20px;
        margin-top: 47px;
        /* margin-left: 15px; */
        /* margin-right: 15px; */
        padding-bottom: 263px;
    }

    .order_list_container .container {
        width: unset;
        padding: 10px 15px;
        border-radius: 0px;
    }

    .order_list_container .order_id {
        font-size: 14px;
    }

    .order_list_container .order_id a {
        padding: 3px 6px;
        font-size: 12px;
        border-radius: 4px;
        height: fit-content;
    }

    .order_list_container .taka {
        font-size: 13px;
    }

    .order_list_container .date {
        font-size: 12px;
    }

    .nav_item {
        margin-right: 10px;
    }

    .nav_item span {
        font-size: 12px;
    }

    .nav_item .up_icon img {
        width: 10px;
        height: 5px;
    }

    .my_nav {
        overflow-x: scroll;
        padding-bottom: 16px;
    }

    .morder .checkout_page {
        margin-top: 47px;
        padding-top: 15px;
    }

    .morder .order_details .order_id .title {
        font-size: 13px;
    }

    .morder .order_details .order_id .title a {
        width: 44px;
        height: 19px;
        font-size: 10px;
    }

    .morder .checkout_address_section .item {
        font-size: 12px;
    }

    .morder .order_details .status {
        margin-bottom: 16px;
        border-radius: 0px;
        padding: 10px 15px;
    }

    .order_details .status .order_timeline {
        margin-left: 0px;
        margin-top: 0px;
        font-size: 16px;
        font-weight: 700;
    }

    .order_details .status_grow .left {
        margin-left: 0px;
    }

    .morder .checkout_title span {
        font-size: 13px;
    }

    /* all rpoducts */
    .mpro_info .filter img {
        width: 20px;
        height: 20px;
    }

    .product_page .order_section {
        display: none;
    }

    .product_page .filter_product {
        grid-template-columns: auto;
    }

    .product_page .filter_left {
        display: none;
    }

    .product_page {
        margin-top: -105px;
    }

    /* //shops products pages */
    .shop img {
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }

    .shop .shop_info h1 {
        font-size: 14px;
    }

    .shop .shop_info h3 {
        font-size: 11px;
        margin-top: 3px;
    }

    .shop .shop_info .star {
        margin-top: 3px;
    }

    .shop .shop_info .star h3 {
        margin-top: 0px;
        font-size: 10px;
    }

    .shop .shop_info img {
        width: 11px;
        height: 11px;
        margin-right: 5px;
    }

    .shop_mo .shop_container {
        padding-top: 18px;
        background: #FAFAFA;
        margin-top: -91px;
    }

    .shop_mo .product_form_page {
        width: calc(100vw - 30px);
        margin-left: 15px;
    }

    .shop_mo .home_all_products {
        padding: 10px 5px;
    }

    .checkout_title span {
        font-size: 13px;
    }

    .checkout_title a {
        height: 20px;
        font-size: 10px;
    }

    .coupon_code {
        margin-top: 10px;
        font-size: 12px;
        text-decoration: underline;
        color: #f54c54;
    }
}

/* @media (max-width: 360px) {} */