* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
    position: relative;
}

.full_content {
    /* background-color: #FFFFFF; */
    width: 1920;
    font-family: "Inter";
    background-color: #FAFAFA;
}

/* margin */
.vih {
    visibility: hidden;
}

.viv {
    visibility: visible;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.ml-8 {
    margin-left: 8px;
}

.ml13 {
    margin-left: 13px;
}

.ml10 {
    margin-left: 10px;
}

.ml30 {
    margin-left: 30px;
}

.mt1 {
    margin-top: 1px;
}

.mt2 {
    margin-top: 2px;
}

.mt3 {
    margin-top: 3px;
}

.mt4 {
    margin-top: 4px;
}

.mt5 {
    margin-top: 5px;
}

.mt6 {
    margin-top: 6px;
}

.mt7 {
    margin-top: 7px;
}

.mt8 {
    margin-top: 8px;
}

.mt9 {
    margin-top: 9px;
}

.mt10 {
    margin-top: 10px;
}

.mt11 {
    margin-top: 11px;
}

.mt12 {
    margin-top: 12px;
}

.mt13 {
    margin-top: 13px;
}

.mt14 {
    margin-top: 14px;
}

.mt16 {
    margin-top: 16px;
}

.mt19 {
    margin-top: 19px;
}

.mt20 {
    margin-top: 20px;
}

.mt21 {
    margin-top: 21px;
}

.mt24 {
    margin-top: 24px;
}

.mt32 {
    margin-top: 32px;
}

.mt34 {
    margin-top: 34px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.fs20 {
    font-size: 20px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fm {
    font-weight: 500;
}

.fsb {
    font-weight: 800;
}

.fb {
    font-weight: bold;
}

.s2424 {
    width: 24px;
    height: 24px;
}

.s1426 {
    width: 14px;
    height: 26px;
}

/* padding */
.cp {
    cursor: pointer;
}

.w-1176 {
    width: 1176px;
    margin: auto;
}

.tac {
    text-align: center;
}

.flex {
    display: flex;
}

.fsb {
    display: flex;
    justify-content: space-between;
}

.c_border {
    border-radius: 5px !important;
    border: 1px solid #959595 !important;
}

.active_border {
    border-radius: 5px !important;
    border: 1px solid #F54C54 !important;
}

.d_none {
    display: none !important;
}

.content {
    /* margin-top: 140px; */
    /* background-color: #FAFAFA; */
}

/* color */
.clrF54C54 {
    color: #F54C54 !important;
}

.clr3598DA {
    color: #3598DA !important;
}

.clrE9BA00 {
    color: #E9BA00 !important;
}

.clr959595 {
    color: #959595 !important;
}

.blur {
    opacity: 0.3 !important;
}

.header {
    width: 100%;
    justify-content: center;
    background-color: #FFF;
}

.header_top_container {
    background-color: #151820;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.header_bottom_container {
    background-color: #282E3D;
    margin-top: 70px;
}

.header_top {
    width: 1176px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_top_img {}

.header_top_img img {
    width: 150px;
    height: 35px;
    cursor: pointer;
}

.header_top_search {
    width: 642px;
    height: 44px;
    display: flex;
    /* border-radius: 5px; */
}

.header_top_search .input {
    width: 100%;
    /* border-radius: 5px; */
}

.header_top_search .input input {
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    color: #7C7C7C;
    background-color: #E8ECF2;
    border: 1px solid #E8ECF2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header_top_search .input input:focus {
    outline: none;
    border: 1px solid #E8ECF2;
}

.header_top_search .search {
    width: 130px;
    background-color: #EBC274;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #151820;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header_top_icon {
    width: 228px;
    display: flex;
    justify-content: flex-end;
    /*space btween after al icon s show*/
}

.header_top_icon .top_icon {
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;
    position: relative;
    margin-left: 24px;
    /*OFF after al icon s show*/
}

.header_top_icon .cart_icon {
    width: 60px !important;
    height: 60px !important;
}

.header_top_icon .top_icon span {
    position: absolute;
    top: 0px;
    right: -4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 13px;
    color: #FFF;
    background-color: #FF5656;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_top_icon .top_icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.header_bottom {
    width: 1176px;
    height: 70px;
    display: flex;
    align-items: center;
}

.header_bottom .menu_icon {
    font-size: 16px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #FFF;
}

.header_bottom .menu_icon .top_icon {
    width: 40px;
    height: 40px;
}

/* footer */
.footer {
    padding-top: 92px;
    padding-bottom: 133px;
    background-color: #333333;
    font-size: 16px;
    color: #C5C5C5;
}

.footer_in {
    display: flex;
    justify-content: space-between;
}

.footer_img img {
    width: 202px;
    height: 44px;
}

.footer_left {
    width: 367px;
}

.footer_left .text {
    margin-top: 27px;
}

.footer_middle {
    width: 367px;
}

.footer_contact_us,
.foter_download,
.join_us {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}

.footer_link {
    margin-top: 5px;
}

.footer_link:hover {
    color: #FFF;
}

.footer_address {
    margin-top: 10px;
}

.footer_contact {
    margin-top: 27px;
}

.footer_address {
    margin-top: 20px;
}

.footer_right {
    width: 279px;
}

.footer_store {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}

.footer .app_store {

    width: 123px;
    height: 38px;
    cursor: pointer;
}

.footer .play_store {
    width: 135px;
    height: 38px;
    cursor: pointer;
}

.footer .join_us {
    margin-top: 44px;
}

.footer .footer_social {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}

.footer .social {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.facebook,
.linkedin {
    background-color: #1976D2;

}

.youtube,
.instagram {
    background-color: #F44336;
}

/* owl carousel */
.hero_carousel .owl-theme .owl-nav {
    display: none;
}

.hero_carousel .owl-theme .owl-nav {
    margin-top: 0px !important;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.hero_carousel img {
    width: 100% !important;
    object-fit: cover !important;
    margin-top: 24px;
    border-radius: 15px;
}

.hero_main .owl-theme .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

.hero_main .owl-theme .owl-nav {
    display: none !important;
}

.hero_carousel2 .owl-theme .owl-nav {
    position: absolute;
    left: 42%;
    bottom: 3%;
}

.hero_main .owl-theme .owl-dots .owl-dot.active span {
    background: #000000 !important;
    width: 48px !important;
    height: 14px;
    border-radius: 30px !important;
}

.hero_main .owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #C8C8C8;
}

.home_products {
    margin-top: 24px;
    padding: 20px 16px;
    background-color: #FFF;
    border-radius: 15px;
    position: relative;
}

.home_products .title {
    font-size: 20px;
    font-weight: 500;
}

.home_products .products {
    margin-top: 20px;
    display: flex;
    overflow-x: hidden;
}

/* .home_products .products::-webkit-scrollbar {
    display: none;
} */

.home_products .products .product_cart {
    /* width: 192px !important; */
    height: 303px;
    border-radius: 15px;
    /* border: 1px solid #A6A5A5; */
    border: 1px solid #FAFAFA;
    padding: 16px;
    display: grid;
    justify-content: space-between;
    margin-right: 16px !important;
    cursor: pointer;
}

.product_cart:hover {
    border: 1px solid #A6A5A5 !important;
}

.all_product_card_last_text {
    color: rgba(0, 0, 0, 1) !important;
    font-size: 20px;
    font-weight: 500;
}

.all_product_card_last {
    /* background-color: #000; */
    opacity: 0.3;
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    border: 1px solid #000 !important;
}

.m_all_view {
    display: none;
}

.m_view_bg_fix {
    display: none;
}

.home_products .arrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 153px;
    padding-left: 3px;
    padding-right: 12px;
}

.home_products .shop_arrow {
    top: 120px;
}

.home_products .arrow .left_arrow {
    width: 40px;
    height: 40px;
    background: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 2px 8px 6px 0px rgba(0, 0, 0, 0.67);
}

.home_products .arrow .right_arrow {
    width: 40px;
    height: 40px;
    background: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 2px 8px 6px 0px rgba(0, 0, 0, 0.67);
}

.home_products .shops .product_cart {
    /* width: 192px; */
    height: 150px;
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
}

.home_products .cat .product_cart {
    /* width: 192px; */
    height: auto;
}

.product_cart .product_img {
    width: 152px;
    height: 152px;
}

.shops .product_cart .product_img {
    width: 97px;
    height: 97px;
    /* border-radius: 10px; */
}

.product_cart .product_img img {
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
}

.product_cart .product_name {
    margin-top: 16px;
    height: 44px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
}

.shops .product_cart .product_name {
    margin-top: 8px;
    height: 17px;
    font-size: 13px;
    /* line-height: 16px; */
}

.cat .product_cart .product_name {
    height: auto;
    line-height: 17px;
    text-align: center;
}

.product_cart .shop_cart {
    display: flex;
    justify-content: space-between;
}

.product_cart .shop_cart .shop_cart_img {
    display: flex;
    align-items: end;
}

.product_cart .shop_cart .shop_cart_img img {
    width: 52px;
    height: 52px;
}

.product_cart .del_price {
    font-size: 14px;
    text-decoration: line-through;
    color: #EABEBE;
}

.product_cart .product_price {
    font-size: 20px;
    color: #212121;
    font-weight: 700;
    margin-top: 6px;
}

.product_cart .product_img span {
    display: block;
    /* width: 100%; */
    height: 100%;
    /* background-color: #f5f5f5; */
}

.product_cart .product_name span {
    display: block;
    /* width: 64px; */
    height: 40px;
    /* background-color: #f5f5f5; */
}

.product_cart .del_price span {
    display: block;
    /* width: 64px; */
    height: 12px;
    /* background-color: #f5f5f5; */
}

.product_cart .product_price span {
    display: block;
    /* width: 64px; */
    height: 12px;
    /* background-color: #f5f5f5; */
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#foo {
    background-color: #ddd;
    -webkit-animation: fadein 2s ease-in alternate infinite;
    -moz-animation: fadein 2s ease-in alternate infinite;
    animation: fadein 2s ease-in alternate infinite;
}

/* owl carousel */
.products .owl-theme .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 102px;
    left: 23px;
}

.shops .owl-theme .owl-nav {
    top: 35px;
    left: 23px;
}

.products .owl-theme .owl-nav .owl-next {
    display: block;
    width: 40px;
    height: 40px;
    background: #d5d5d5;
    border-radius: 50%;
    /* padding: 0;
    margin: 0; */
}

.products .owl-theme .owl-nav .owl-prev {
    visibility: hidden;
}

/* all products */

.home_all_products {
    margin-top: 24px;
    padding: 20px 16px;
    background-color: #FFF;
    border-radius: 15px;
    margin-bottom: 24px;
}

.home_all_products .all_title {
    display: flex;
    justify-content: space-between;
}

.home_all_products .title {
    font-size: 20px;
    font-weight: 500;
}

.home_all_products .view_all {
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    text-decoration: none;
    color: #000;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.home_all_products .products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    row-gap: 17px;
}

.home_all_products .products .product_cart {
    width: 216px;
    height: 335px;
    border-radius: 15px;
    border: 1px solid #FAFAFA;
    padding: 16px;
    display: grid;
    justify-content: space-between;
    /* margin-right: 16px !important; */
}

.home_all_products .product_cart .product_img {
    /* background-color: red; */
    width: 100%;
    height: 180px;
}

.home_all_products .product_cart .product_img img {
    width: 100%;
    height: 100%;
}

.home_all_products .product_cart .product_name {
    margin-top: 16px;
    height: 44px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
}

.home_all_products.product_cart .del_price {
    font-size: 14px;
    text-decoration: line-through;
    color: #EABEBE;
}

.home_all_products.product_cart .product_price {
    font-size: 20px;
    color: #212121;
    font-weight: 700;
    margin-top: 6px;
}

/* product details page */
.details_page {
    margin-top: 12px;
    padding: 12px;
    background-color: #FFF;
    border-radius: 15px;
}

.details_page .main {
    display: grid;
    grid-template-columns: 546px auto;
    column-gap: 88px;
}

.details_page .main .image {
    height: 545px;

}

.details_page .main .image img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.details_page .main .parent_img {
    margin-top: 45px;
    position: relative;
}

.details_page .main .parent_img .img {
    /* display: flex; */
    width: 524px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.details_page .main .parent_img .img .images {
    display: flex;
    width: fit-content;
    /* overflow: scroll; */
}


.details_page .main .parent_img .img .images img {
    width: 107px;
    height: 96px;
    margin-right: 24px;
    border-radius: 15px;
}

.details_page .arrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 27px;
    left: -20px;
    padding-left: 0px;
    padding-right: 0px;
}

.details_page .shop_arrow {
    top: 120px;
}

.details_page .arrow .left_arrow {
    width: 30px;
    height: 30px;
    background: #d5d5d5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.details_page .arrow .right_arrow {
    width: 30px;
    height: 30px;
    background: #d5d5d5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.details_page .main .right {}

.details_page .main .right .title_section {
    display: flex;
    justify-content: space-between;
}

.details_page .main .right .title_section .txt {
    font-size: 23px;
    font-weight: 700;
    margin-right: 20px;
}

.details_page .main .right .title_section .share {
    width: 38px;
    height: 38px;
    border-radius: 12px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.details_page .main .right .brand {
    margin-top: 25px;
    font-weight: 800;
    font-size: 20px;
}

.details_page .main .right .sold_by {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.details_page .main .right .sold_by span {
    font-weight: 800;
    font-size: 20px;
}

.details_page .main .right .sold_by a {
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    text-decoration: none;
    color: #000;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.details_page .main .del_price {
    margin-top: 40px;
    font-size: 29px;
    text-decoration: line-through;
    color: #EABEBE;
}

.details_page .main .product_price {
    font-size: 37px;
    color: #212121;
    font-weight: 800;
    margin-top: 16px;
}

.details_page .txt_cq {
    margin-top: 32px;
    font-weight: 700;
    font-size: 14px;
    color: #7D7D7D;
}

.details_page .colors {
    margin-top: 12px;
    display: flex;
}

.details_page .colors a {
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    text-decoration: none;
    color: #000;
    background-color: #FFFFFF;
    margin-right: 8px;
    border-radius: 5px;
}

.details_page .quantity_button {
    margin-top: 12px;
    display: flex;
}

.details_page .quantity_button .btn {
    width: 45px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.details_page .quantity_button .plus {
    background-color: #E8E8E8;
    color: #7D7D7D;
}

.details_page .quantity_button .number {
    background-color: #FFF;
}

.details_page .quantity_button .minus {
    background-color: #969696;
    color: #FFF;
}

.details_page .btn_buy {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.details_page .btn_buy .btn {
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 74px;
    border-radius: 5px;
}

.details_page .btn_buy .cart {
    background-color: #000;
}

.details_page .btn_buy .buy {
    background-color: #FF9E28;
}

.details_page .have_question {
    margin-top: 32px;
    font-size: 20px;
}

.details_page .call {
    margin-top: 23px;
    font-size: 24px;
    font-weight: 700;
    color: #CC0000;
}

.details_page .call span {
    margin-left: 9px;
}

.details_page .short_details {
    background-color: #FFF;
    border-radius: 16px;
    margin-top: 36px;
    padding: 24px;
    position: relative;
}

.details_page .short_details h2 {
    font-size: 28px;
    font-weight: 500;
}

.details_page .short_details .txt {
    margin-top: 40px;
    font-size: 15px;
}

.details_page .short_details a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #C8C8C8;
    padding: 3px 5px;
    color: #FFF;
    font-size: 9px;
    cursor: pointer;
}

.details_page .full_details {
    background-color: #FFF;
    border-radius: 16px;
    margin-top: 36px;
    padding: 24px;
}

.details_page .full_details h2 {
    font-size: 28px;
    font-weight: 500;
}

.details_page .full_details .txt {
    margin-top: 40px;
    /* font-size: 15px; */
}

.product_page {}

.product_page .order_section {
    background-color: #FAFAFA;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border: 15px;
}

.product_page .order_section.showing {
    font-weight: 500;
    font-size: 18px;
}

.product_page .order_section .select {
    display: flex;
}

.product_page .order_section .select .sort {
    font-size: 16px;
    margin-right: 10px;
    color: #454545;
    margin-top: 10px;
}

.product_page .order_section .select .price {
    width: 141px;
    height: 45px;
    /* background-color: #000; */
}

.product_page .filter_product {
    display: grid;
    grid-template-columns: 219px auto;
    column-gap: 16px;
}

.product_page .filter_left {
    background-color: #FFF;
    border-radius: 15px;
    padding: 16px;
}

.product_page .filter {
    display: flex;
    /* padding-bottom: 5px; */
    /* border-bottom: 1px solid #f5f5f5; */
}

.product_page .filter img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.product_page .filter span {
    font-size: 16px;
    color: #212121;
    /* margin-top: -3px; */
}

.product_page .filter_left .category {
    margin-top: 16px;
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
}

/* .product_page .filter_left .category .category_line {
  
} */

.product_page .filter_left .category .txt {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

.product_page .filter_left .category ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.product_page .filter_left .category ul li {
    padding: 5px 0px;
    height: 26px;
    overflow: hidden;
}

.product_page .filter_left .category ul li input {
    margin-right: 10px;
}

.product_page .filter_left .category ul li span {
    font-size: 14px;
    margin-left: -6px;
}

.product_page .filter_right {
    /* background-color: #EABEBE;
    border-radius: 15px;
    padding: 16px; */
}



.filter_right .pagination {
    display: flex;
    margin-top: 50px;
    padding-left: 25px;
}

.filter_right .pagination .item {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter_right .pagination .item:hover {
    background-color: #878787;
}

.filter_right .pagination .dots {
    width: 120px;
    cursor: auto;
}

.filter_right .pagination .next {
    width: 105px;
    font-size: 18px;
    color: #FFF;
    font-weight: 400;
    background-color: #000;
}

.filter_right .pagination .active {
    background-color: #878787;
}

.filter_right .pagination .dots:hover {
    background-color: #FFF;
}

.product_form_page {
    margin-top: 0px;
    margin-bottom: 30px;
}

.product_form_page .products {
    margin-top: 0px;
    grid-template-columns: auto auto auto auto;
}

.cart_page {
    display: grid;
    grid-template-columns: 728px auto;
    column-gap: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.cart_products {
    background-color: #FFF;
    border-radius: 15px;
    padding: 16px 24px;
}

.cart_top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 10px;
}

.cart_top span {
    font-size: 18px;
    font-weight: 500;
}

.cart_top a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cart_bottom {
    margin-top: 20px;
}

.cart_item {
    display: grid;
    grid-template-columns: 56px 137px auto;
    column-gap: 40px;
    margin-bottom: 24px;
}

.cart_check {
    display: flex;
    align-items: center;
}

.cart_check input {
    width: 43px;
    height: 43px;
    border-radius: 5px;
}

.cart_check input:checked {
    accent-color: #000;
}

.cart_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_img img {
    width: 123px;
    height: 123px;
    border-radius: 10px;
}

.cart_title {
    font-size: 16px;
    height: 40px;
    overflow: hidden;
}

.cart_amount {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 18px;
}

.cart_taka_1 {
    color: #878787;
    font-size: 16px;
}

.cart_taka_2 {
    color: #F54C54;
    font-size: 20px;
    margin-top: 13px;
}

.cart_page .quantity_button {
    display: flex;
}

.cart_page .quantity_button .btn {
    width: 45px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cart_page .quantity_button .plus {
    background-color: #000;
    color: #FFF;
}

.cart_page .quantity_button .number {
    background-color: #FFF;
}

.cart_page .quantity_button .minus {
    border: 1px solid #7D7D7D;
}

.cart_summery {
    background-color: #FFF;
    border-radius: 15px;
    padding: 16px 24px;
}

.order_summery {
    font-size: 18px;
    font-weight: 500;
}

.cart_subtotal {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.cart_subtotal span {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 500;
}

.cart_subtotal span:nth-child(2) {
    color: #000;
}

.cart_total {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.cart_total span {
    font-size: 18px;
    font-weight: 500;
}

.cart_checkout {
    margin-top: 32px;
    background-color: #000;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}

.checkout_address_section {
    background-color: #FFF;
    border-radius: 15px;
    padding: 16px 24px;
    margin-bottom: 16px;
}

.checkout_title {
    display: flex;
    justify-content: space-between;
}

.checkout_title span {
    font-weight: 500;
    font-size: 16px;
}

.checkout_title a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout_address_section .item {
    font-size: 14px;
    font-weight: 500;
    color: #797979;
}

.checkout_phone {
    margin-top: 8px;
}

.checkout_address {
    margin-top: 6px;
}

.checkout_page .cart_title {
    width: 305px;
}

.cart_taka_3 {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.cart_taka_3 span:last-child {
    font-size: 15px;
    font-weight: 400;
    color: #212121;
}

.taka_q {
    font-size: 16px;
    color: #878787;
}

.taka_r {
    font-size: 20px;
    font-weight: 700;
    color: #F54C54;
}

.promo_code {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.promo_code input {
    width: 272px;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 16px;
    margin-right: 8px;
}

.promo_code a {
    width: 100px;
    height: 45px;
    background-color: #E2E2E2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7C7C7C;
    font-size: 16px;
}

.order_policy {
    margin-top: 24px;
    font-size: 14px;
    color: #707070;
}

.order_policy a {
    cursor: pointer;
    text-decoration: underline;
}

.checkout_page .cart_item {
    grid-template-columns: 137px auto;
}

.pay_title {
    margin: 24px 0 15px 24px;
    font-size: 15px;
    color: #212121;
}

.payment_section {
    background-color: #FFF;
    border-radius: 15px;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pb_txt {
    font-size: 20px;
}

.pg_14 {
    font-size: 14px;
    color: #505050;
}

.pg_18 {
    font-size: 18px;
    color: #505050;
}

.cr_de {
    display: flex;
    align-items: center;
}

.cr_de img {
    width: 32px;
    height: 26px;
    margin-right: 18px;
}

.bank_icon img {
    width: 46px;
    height: 32px;
    margin-right: 27px;

}

.saved_accounts {
    background-color: #FFF;
    border-radius: 16px;
}

.saved_accounts .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    border-bottom: 1px solid #F5F5F5;
}

.saved_accounts .item .saved_item {
    display: flex;
    align-items: center;
}


.saved_accounts div:last-child {
    border-bottom: none;
}

.saved_accounts .item img {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    margin-right: 32px;
}

.saved_accounts .radio input {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.card_section {
    background-color: #FFF;
    border-radius: 15px;
    padding: 16px 24px;
}

.card_icon {
    display: flex;
    margin-bottom: 10px;
}

.card_field {
    margin-top: 24px;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0px 21px;
    font-size: 16px;
    color: #6C6C6C;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
}

.card_field:focus {
    border: 1px solid #9A9A9A;
}

.mm_cvv {
    display: flex;
    justify-content: space-between;
}

.mm,
.cvv {
    width: 330px;
}

.order_list_container {
    padding-top: 24px;
    margin-bottom: 24px;
}

.order_list_container .container {
    width: 680px;
    margin: auto;
    background-color: #FFF;
    border-radius: 16px;
    padding: 32px 24px;
}

.my_nav {
    display: flex;
}

.nav_item {
    margin-right: 24px;
}

.nav_item span {
    font-size: 14px;
    color: #212121;
}

.nav_item .up_icon {
    margin-top: 7px;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.nav_item .active {
    visibility: visible;
}

.nav_item .up_icon img {
    width: 16px;
    height: 8px;
}

.order_list_container .products {
    padding-top: 16px;
    border-top: 1px solid #F5F5F5;
    /* border-top: 1px solid red; */
}


.order_list_container .products {
    margin-bottom: 32px;
}

.order_list_container .order_id {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.order_list_container .order_id span {
    font-weight: bold;
}

.order_list_container .order_id a {
    padding: 4px 8px;
    font-size: 14px;
    color: #FFF;
    border-radius: 6px;
}

.created_bg {
    background-color: #B0B2B0;
}

.confirm_bg {
    background-color: #3598DA;
}

.cancelled_bg {
    background-color: #CC0000;
}

.picked_bg {
    background-color: #266894;
}

.shipped_bg {
    background-color: #FFCC00;
}

.delivered_bg {
    background-color: #4CCC60;
}

.processing_bg {
    background-color: #CEB037;
}

.order_list_container .taka_section {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.order_list_container .taka {
    font-size: 18px;
    font-weight: bold;
    color: #F54C54;
}

.order_list_container .date {
    font-size: 14px;
    color: #212121;
}

.order_details .order_id {
    font-size: 20px;
    margin-bottom: 16px;
}

.order_details .order_id .title {
    display: flex;
    justify-content: space-between;
}

.order_details .order_id .title a {
    width: 51px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7E7E7;
    cursor: pointer;
    border-radius: 5px;
}

.order_details .order_id span {
    font-weight: bold;
}

.order_details .order_id div:last-child {
    margin-top: 3px;
}

.order_details .status {
    border-radius: 16px;
    background-color: #FFF;
    padding-top: 19px;
}

.order_details .status .order_timeline {
    margin-left: 24px;
    margin-top: 19px;
    padding-bottom: 13px;
    border-bottom: 1px solid #E4E3E3;
    font-size: 18px;
    font-weight: 700;
}

.order_details .status_grow {
    display: flex;
}

.order_details .status_grow .left {
    margin-left: 24px;
    margin-right: 20px;
    margin-top: 24px;
}

.order_details .circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    margin-bottom: 46px;
    position: relative;

}

.order_details .circle i {
    visibility: hidden;
}

.order_details .circle::after {
    content: "none";
    border-right: 2px dotted #DEDEDE;
    position: absolute;
    top: -46px;
    left: -26px;
    height: 45px;
}

.order_details .status_grow .left .active::after {
    border-right: 2px solid #000;
}

.order_details .status_grow .left .active i {
    visibility: visible;
}

.order_details .status_grow .left .active:first-child::after {
    border-right: none;
}

.order_details .status_item {
    margin-top: 24px;
    height: 50px;
    display: grid;
    justify-content: space-between;
}

.order_details .status_item p {
    font-size: 16px;
}

.order_details .status_item .item {
    font-size: 14px;
    font-weight: 500;
    color: #797979;
}

.order_details .order_summery {
    display: flex;
    justify-content: space-between;
}

.order_details .order_summery a {
    width: 48px;
    height: 25px;
    background-color: #1976D2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

.sign_up_container {
    padding-top: 24px;
    margin-bottom: 24px;
}

.sign_up {
    width: 686px;
    border-radius: 16px;
    margin: auto;
    background-color: #FFF;
    padding: 40px 48px;
}

.sign_up input {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 56px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #959595;
}

.sign_up input:focus {
    outline: none;
    border: 1px solid #FF9E28;
}

.sign_up_btn {
    width: 100%;
    height: 56px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 5px;
}

.sign_up .social_media {
    display: flex;
    justify-content: space-between;
}

.sign_up .social_media .google {
    width: 482px;
    height: 56px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #959595;
}

.sign_up .social_media .facebook1 {
    width: 88px;
    height: 56px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1976D2;
}

.sign_up .forgot_pass {
    text-align: right;
    margin-top: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.user_info {
    padding-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.user_info .left {
    width: 288px;
    border-radius: 16px;
    background-color: #FFF;
    padding: 32px 0 40px 0;
    position: relative;
}

.user_info .left .img_container {
    display: flex;
    justify-content: center;
}

.user_info .left .img {
    width: 130px;
    height: 130px;
    position: relative;
}

.user_info .left .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user_info .left .img a {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #D9D9D9;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_info .menu_container {
    margin-left: 83px;
    margin-top: 32px;

}

.user_info .menu_container .menu {
    display: flex;
}

.user_info .menu_container .menu {
    display: flex;
}

.user_info .menu_container .menu img {
    margin-right: 11px;
    width: 24px;
    height: 24px;
}

.user_info .menu_container .menu p {
    color: #878787;
    font-size: 20px;
    font-weight: 500;
}

.user_info .menu_container .menu:first-child p {
    color: #130F26;
}

.user_info .logout {
    margin-left: 83px;
    width: fit-content;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 40px;
    display: flex;
}

.user_info .logout img {
    margin-right: 11px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.user_info .logout p {
    color: #130F26;
    font-weight: 500;
    font-size: 20px;
}

.user_info .right {
    width: 871px;
    border-radius: 16px;
    background-color: #FFF;
    padding: 24px 32px;
}

.user_info .user_txt {
    font-size: 32px;
    font-weight: 500;

}

.user_info .user_input {
    display: flex;
    justify-content: space-between;
}

.user_info .input_left {
    width: 388px;
}

.user_info .input_right {
    width: 388px;
}

.user_info .birth_select {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 24px;
}

.user_info input {
    font-size: 16px;
    width: 100%;
    height: 48px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #959595;
}

.user_info input:focus {
    outline: none;
    border: 1px solid #FF9E28;
}

.user_info .user_select {
    height: 48px !important;
}

.user_info .save_changes {
    width: 100%;
    height: 56px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 5px;
}

.user_info .css-13cymwt-control {
    /* background-color: red; */
    margin: 0px !important;
    padding: 0px 10px 0px 0px !important;
    border-radius: 5px !important;
    border: 1px solid #959595 !important;
    height: 48px !important;
}

.user_info .css-13cymwt-control:focus {
    padding: 0px 10px 0px 0px !important;
}

.user_info .css-1fdsijx-ValueContainer {
    padding: 0 0px 0 24px !important;
    margin: 0 !important;
    height: 48px !important;
    /* display: flex;
    align-items: center !important; */
}

.user_info .css-1hb7zxy-IndicatorsContainer {
    padding: 0 0px 0 0 !important;
    margin: 0 !important;
    width: 16px !important;
    height: 48px !important;
    /* display: flex;
    align-items: center !important; */
}

.user_info .css-1xc3v61-indicatorContainer {
    padding: 0 0px 0 0 !important;
    margin: 0 !important;
    /* display: flex;
    align-items: center !important; */
}

.user_info .css-1jqq78o-placeholder {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: -13px !important;
}

/* address list */
.address_list_container {
    padding-top: 24px;
    margin-bottom: 24px;
}

.address_list {
    width: 641px;
    margin: auto;
}

.address_list .add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

.address_list .add p {
    font-size: 20px;
    font-weight: 500;
}

.address_list .add a {
    width: 147px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #000;
}

.address_list .address_item {
    padding: 24px 28px;
    border-radius: 16px;
    margin-bottom: 16px;
    background-color: #FFF;
}

.address_list .address_item .title {
    display: flex;
    justify-content: space-between;
}

.address_list .address_item .title p {
    font-size: 24px;
    font-weight: 500;
}

.address_list .address_item .title a {
    background-color: #D9D9D9;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.address_list .address_item .phone {
    font-size: 20px;
    color: #797979;
}

.add_address .right {
    width: 1176px;
}

.add_address .input_left {
    width: 534px;
}

.add_address .input_right {
    width: 534px;
}

.add_address .radio_btn {
    display: flex;
    color: #212121;
    font-size: 14px;
}

.add_address .radio_btn input {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
}

.add_address .radio_btn div {
    display: flex;
}

.add_address .radio_btn div:first-child {
    margin-right: 25px;
}

.shop {
    margin-bottom: 16px;
    border-radius: 16px;
    background-color: #FFF;
    /* padding: 12px 15px; */
    /* height: 264px; */
    /* display: flex; */
    /* align-items: center; */
    /* background-color: red; */
}

.shop .banner_img {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 122px;
}

.shop .shop_info_parent {
    display: flex;
    margin-top: -83px;
    padding-bottom: 20px;
}

.shop .seller_icon {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-left: 24px;
    /* margin-right: 35px; */
}

.shop .shop_info {
    margin-left: 16px;
    margin-top: 86px;
}

.shop .shop_info .star {
    display: flex;
}

.shop .shop_info img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.shop .shop_info span {
    font-size: 10px;
}

.shop_container {
    padding-top: 24px;
}

.shop_no_product {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.shop_no_product img {
    width: 404px;
    height: 295px;
    /* background-color: blue; */
}

.btn_delivery_address {
    cursor: pointer;
    /* border: 1px solid #767676; */
    width: fit-content !important;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: #e2e2e2;
}

.ordering_products {
    font-size: 25px;
    font-weight: bold;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.video_container {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 30px;
}

.video_item {
    /* width: 600px; */
    height: 301px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.video_item iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.full_details ul {
    margin-bottom: 20px !important;
    font-size: 14px !important;
}

.full_details ul li {
    margin-top: 5px !important;
}

.mobile_footer_container {
    display: none;
}

.mobile_header_container {
    display: none;
}

.details_hero {
    display: none;
}

.details_top {
    display: none;
}

.details_page .main .right .title_section .share {
    display: block;
}

.details_page .price_hide_pn {
    display: block;
}

.details_page .mobile_price {
    display: none;
}

.details_page .mobile_buy {
    display: none;
}

.mobile_menu_container {
    display: none;
}

.mobile_cart_top {
    display: none;
}

.terms_conditions {
    padding-top: 10px;
    padding-bottom: 30px;
}

.terms_conditions .container {
    width: 800px;
    margin: auto;
    background-color: #FFF;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}

.lan_btn {
    display: flex;
    justify-content: flex-end;
}

.lan_btn a {
    width: fit-content;
    padding: 3px 7px;
    border: 1px solid #959595;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.lan_btn a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.lan_btn a span {
    font-size: 16px;
    /* margin-top: -4px; */
}

.terms_conditions .title {
    font-weight: 800;
    font-size: 16px;
    margin-top: 20px;
}

.terms_conditions .txt {
    font-size: 16px;
    margin-top: 20px;
}

.terms_conditions .txt p {
    font-size: 16px;
    margin-top: 20px;
}

.terms_conditions .support_email {
    font-size: 14px;
}

.terms_conditions .support_email a {
    text-decoration: underline;
    color: blue;
}

.terms_conditions .note {
    font-weight: 800;
}

.terms_conditions ul {
    margin-left: 25px;
}